.required{
	color: red;
}

.error_msg{
	color: #000;
	padding: 15px;
	margin: 20px;
	background-color: #E3BFC0;
	border-left: 9px solid #A80D12; 
	border-radius: 2px;
}

.success_msg{
	color: #000;
	padding: 15px;
	margin: 20px;
	background-color: #B8F09A;
	border-left: 9px solid #005D2A; 
	border-radius: 2px;
}

#title-row{
	    vertical-align: middle;
}
